# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.idea/

python_src/.ipynb_checkpoints/

python_src/Waterbase_v2018_1_WISE3_csv/

python_src/Waterbase_v2018_1_WISE4_csv/

python_src/data.csv

python_src/data.json

python_src/pipeline_1567873588594732000.js

python_src/norm_ln34_mul_ps_vegetation_aug_dice_best\.pth

python_src/norm_ln34_mul_ps_vegetation_aug_dice_best.pth.tar
